{% extends 'base.html' %}

{% block title%}List of brands{% endblock %}

{% load static %}

{% block content%}
{% if user.is_authenticated %}
<div class="container">
	<h1 style="position: absolute; text-align: left; color: #ffffff;">Brands</h1>
	<img src='{% static "brand.png" %}' style="width: 100%; height: 50px; object-fit: cover;" alt="Responsive image">
	
</div>
</br>
	<form method="post" action="#">

		{% csrf_token %}
		<input class="form-control me-2" type="search" placeholder="Enter new brand" aria-label="Search" name="brand">
		<button type="submit", name="newbrand", value="newbrand" class="btn btn-secondary">Add new brand</button>
			
		<p>When you're done adding, Click at Home in the sidebar</p>
		</br></br>
		{% if user.is_superuser %}
		<table class="table table-hover">
			<thead class="thead-dark"><tr>
				<th>Brand added by a non admin user</th>
				<th></th>
				<th></th>
			</tr></thead>
				<tbody>
					{% for brand in brands %} {% if brand.status == brand.NADMIN %}
						<tr>
							<td>{{ brand.name }}</td>
							<td><button type="submit", name="delete", value="{{brand.id}}" class="btn btn-danger">Delete</button></td>
							<td><button type="submit", name="approve", value="{{brand.id}}" class="btn btn-primary">Approve</button></td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
		</table>
		<table class="table table-hover">
			<thead class="thead-dark"><tr>
				<th>Approved brands</th>
				<th></th>
			</tr></thead>
				<tbody>
					{% for brand in brands %} {% if brand.status == brand.ADMIN %}
						<tr>
							<td>{{ brand.name }}</td>
							<td><button type="submit", name="delete", value="{{brand.id}}" class="btn btn-danger">Delete</button></td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
		</table>
		{% else %}
		<table class="table table-hover">
			<thead class="thead-dark"><tr>
				<th>Brands</th>
			</tr></thead>
				<tbody>
					{% for brand in brands %}
						<tr>
							<td>{{ brand.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
		</table>
		{% endif %}
		</br>

	</form>	
	{% else %}
	<small><a href="/">Login</a> To view this page if you have to login</small>
	{% endif %}
{% endblock %}