{% extends 'base.html' %}

{% block title%}
Edit Customer
{% endblock %}


{% block content%}
{% if user.is_authenticated %}
	<h1>Edit {{ current_client }}'s informations</h1>
	<form method="POST" >
		{% csrf_token %}
		{% if form.errors %}
		<div class="alert alert-secondary alert-dismissible fade show" role="alert">
			There's an error. Check the informations you entered and try again.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}
		{{form.as_p}}
		
		<button type="submit" class="btn btn-dark">Update</button>
		<a href="{% url 'clients' %}", class="btn btn-secondary">Cancel</a>
	</form>
{% else %}
	<small><a href="/">Login</a> to view this page</small>
{% endif %}

{% endblock %}