{% extends 'base.html' %}

{% block title%}
Searching for product
{% endblock %}

{% block content%}
    {% if user.is_authenticated %}
    <h1>products: Search Results</h1>
	</br>
	<h6>Search by name</h6>
	<form class="d-flex" method="POST" action="{% url 'search_product' %}">
	{% csrf_token %}
	<input class="form-control me-2" type="search" placeholder="Search for a product" aria-label="Search" name="searchbar">
	<button class="btn btn-secondary">Search</button>
	</form>
	</br>
	<h6>Search by Bar code</h6>
	<form class="d-flex" method="POST" action="{% url 'search_product_bc' %}">
	{% csrf_token %}
	<input class="form-control me-2" type="search" placeholder="Search for a product" aria-label="Search" name="searchbc">
	<button class="btn btn-secondary">Search</button>
	</form>
	</br></br>
        {% if searchbar %}
			<table class="table table-hover">
				<thead class="thead-dark"><th><h3>{{ searchbar }}</h3></th></thead>
					<tbody>
						
						{% for product in s_resultf %}
							<tr><td><a href="/oneproduct/{{product.id}}">{{ product }}</a></td></tr>
						{% endfor %}
					</tbody>
        {% else %}
            <h3>You didn't search for a thing, <a href="/products">Back</a></h3>
        {% endif %}
        







    {% else %}
        <small><a href="/">Login</a> to view this page</small>
    {% endif %}

{% endblock %}